{% extends 'master.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'dashboard.css' %}">
{% endblock %}

{% block title %} Dashboard {% endblock %}

{% block content %}
<div class="content">
    <h2 class="content-title">Dashboard</h2>
    <p class="content-subtitle">Overview</p>
    <div class="card-group">
        <div class="card">
            <h3>100</h3>
            <p>Products</p>
        </div>
        <div class="card">
            <h3>1023</h3>
            <p>Sales</p>
        </div>
        <div class="card">
            <h3>30</h3>
            <p>Products</p>
        </div>
        <div class="card">
            <h3>9</h3>
            <p>Shops</p>
        </div>
    </div>
    <p class="content-subtitle">Overview Graph</p>
    <div class="graph">
        <canvas id="myChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 30, 3],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
    <script>
        function changeContent(page) {
            document.getElementById('page-title').textContent = page;
        }
    </script>
</div>
{% endblock %}