{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'master.css' %}">
    <link rel="stylesheet" href="{% static 'sidenav.css' %}">

    {% block css %}
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    <div class="grid">
        <div class="sidenav">
            <a id="{% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}" href="{% url 'dashboard' %}">Home</a>
            <a id="{% if request.path == '/events/' %}active{% endif %}" href="">Events</a>
            <a id="{% if request.path == '/products/' %}active{% endif %}" href="">Products</a>
            <a id="{% if 'shops' in request.path %}active{% endif %}" href="{% url 'all-shops' %}" >Shops</a>
            <a id="{% if request.path == '/graphs/' %}active{% endif %}" href="">Graphs</a>
        </div>
        <!-- Add Content Here -->
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>