.content {
    padding: 3em;
}

.content-header {
    display: grid;
    grid-template-columns: 60% 10% 20%;
    column-gap: 2em;
    margin-bottom: 3em;
}

.search-form {
    margin-right: 2em;
}

.search-bar {
    width: 100%;
    padding: 1em;
    border: none;
    background-color: #E4EEFF;
    border-radius: 0.5em;
}

.search-bar:focus {
    outline: none;
}

.header-button {
 border: none;
 padding: 0em 2em;
 background-color: #4285F4;   
 color: white;
 font-weight: bold;
 border-radius: 0.5em;
}

.link-button {
    display: inline-block;
    padding: 0.5em 2em; /* Adjust padding as needed */
    background-color: #4285F4;
    color: white;
    font-weight: bold;
    border-radius: 0.5em;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    line-height: 2em; /* Set line-height equal to the button's height */
}