.content {
    padding: 3em;
}

.section-selectors {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.section-selector {
    text-decoration: none;
    color: black;
}

#section-active {
    font-weight: bold;
}